@media screen and (max-width: 1000px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    header nav{ 
        text-align: center;
    }

    .toku-principal{
        height: 450px;
    }

}

@media screen and (min-width: 1200px) {
    .toku-principal .descricao{
        width: 50%;
    }
    
}