@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --vermelho: #E50914;
    --preto: #141414;
    --cinza: #AAA;
    --braco: #FFF;
}

/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elementos base */

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    font-family: 'Press Start 2P', cursive;
}

header .logo{
    font-size: 250%;
    color: var(--vermelho);
}

header nav a{
    transition: .3s ease all;
    text-decoration: none;
    font-size: small;
    margin-right: 10px;
    color: var(--cinza);
}

header nav a:hover{
    color: var(--braco);    
}

body{
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: var(--braco);
}

/* Filme principal */

.toku-principal{
    font-size: 100%;
    background: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)100%), url("../img/jaspion-capa.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.toku-principal .descricao{
    margin-bottom: 2%;
    margin-top: 1%;
}

.titulo{
    margin-top: 10%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    border: none;
    padding: 1% 2%;
    margin-right: 1%;
    font-size: 12px;
    color: var(--cinza);
    background-color: rgba(0,0,0,0.50);
    transition: .3s ease all;
}

.botao:hover{
    color: var(--preto);
    background-color: var(--braco);
}

.botao i{
    margin-right: 10px;
}
